@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
body {
  font-size: 16px;
  color: #3E3E3E;
  background: #F3F3F3;
  font-family: "游ゴシック体", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

img {
  width: 100%;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

/*=============================
header
=============================*/
.header {
  height: 83px;
  background: #FFFFFF1A;
  line-height: 83px;
  position: fixed;
  width: 100%;
  z-index: 500;
}

@media screen and (max-width: 767px) {
  .header {
    height: 68px;
    line-height: 68px;
    background: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .header_title {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .header_title {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header_title {
    display: block;
    font-size: 23px;
    font-weight: bold;
    padding-left: 16px;
    margin-right: auto;
    font-family: "Montserrat", sans-serif;
    position: fixed;
  }
}

.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.2px;
}

.header_nav li:not(:first-child) {
  margin-left: 40px;
}

.header_nav a {
  color: #3E3E3E;
  position: relative;
  text-decoration: none;
}

.header_nav a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -8px;
  height: 1px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #3E3E3E;
}

.header_nav a:hover, .header_nav a.is-active {
  cursor: pointer;
}

.header_nav a:hover::after, .header_nav a.is-active::after {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .header_nav {
    display: none;
  }
}

.header_menu {
  background: url(../img/hamburger.svg) no-repeat center center/cover;
}

@media screen and (min-width: 1200px) {
  .header_menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header_menu {
    width: 26px;
    height: 20px;
    position: absolute;
    top: 24px;
    right: 17px;
  }
}

.header_menu_close {
  background: url(../img/batsu.svg) no-repeat center center/cover;
}

@media screen and (min-width: 1200px) {
  .header_menu_close {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header_menu_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 24px;
    right: 57px;
  }
}

@media screen and (min-width: 1200px) {
  .drawer {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .drawer {
    width: 21px;
  }
}

.drawer-menu {
  margin-top: 142px;
}

.drawer-menu li {
  padding-right: 0;
  padding-left: 0;
  line-height: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #3E3E3E;
  padding-top: 30px;
}

.drawer-menu li:nth-child(2) {
  padding-top: 42px;
}

.drawer-menu li a {
  font-weight: normal;
  color: #3E3E3E;
  font-size: 18px;
}

.drawer-brand {
  padding-right: 0;
  padding-left: 0;
  line-height: 0;
  font-family: "Montserrat", sans-serif;
}

.drawer--right,
.drawer-nav {
  width: 18.80rem;
  text-align: center;
}

.drawer--right .drawer-nav {
  right: -18.75rem;
}

/*=============================
top
=============================*/
.top {
  background: url(../img/mv.png) no-repeat 22.5% center/cover;
  width: 100%;
  height: 648px;
}

@media screen and (max-width: 1199px) {
  .top {
    background: url(../img/mv@2x.png) no-repeat center center/cover;
  }
}

@media screen and (max-width: 767px) {
  .top {
    background: url(../img/mv@2x.png) no-repeat 22.5% center/cover;
    height: 667px;
  }
}

.top_inner {
  height: inherit;
  position: relative;
}

.top_contents {
  position: absolute;
  top: 56%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

@media screen and (max-width: 1199px) {
  .top_contents {
    right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .top_contents {
    padding: 0 16px;
    top: 49%;
    right: 0;
  }
}

.top_title {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .top_title {
    font-size: 24px;
    line-height: 1.66667;
  }
}

.top_text {
  max-width: 600px;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.25px;
  margin-top: 25px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .top_text {
    font-size: 14px;
    line-height: 1.42857;
    margin-top: 25px;
    letter-spacing: 0;
  }
}

.top_btn {
  width: 282px;
  height: 50px;
  background: #FFAA3B;
  border-radius: 10px;
  margin-top: 40px;
  -webkit-box-shadow: 0 3px 5px #3E3E3E33;
          box-shadow: 0 3px 5px #3E3E3E33;
}

.top_btn:hover {
  background: #F18900;
  -webkit-filter: drop-shadow(0 3px 5px #3E3E3E33);
          filter: drop-shadow(0 3px 5px #3E3E3E33);
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

@media screen and (max-width: 767px) {
  .top_btn {
    width: 222px;
    height: 48px;
    margin: 25px auto 0;
  }
}

.top_btn a {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 50px;
}

@media screen and (max-width: 767px) {
  .top_btn a {
    font-size: 16px;
  }
}

/*=============================
news
=============================*/
.news {
  margin: 120px auto 0;
  padding: 65px 60px 40px;
  max-width: 1200px;
  background: #fff;
  -webkit-box-shadow: 0 5px 12px #3E3E3E33;
          box-shadow: 0 5px 12px #3E3E3E33;
}

@media screen and (max-width: 767px) {
  .news {
    padding: 0;
    margin: 0 16px;
    position: absolute;
    top: 628px;
    padding-bottom: 40px;
  }
}

.news_head {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1199px) {
  .news_head {
    font-size: 34px;
  }
}

@media screen and (max-width: 767px) {
  .news_head {
    margin-top: 45px;
    font-size: 30px;
  }
}

.news_items {
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .news_items {
    margin-top: 40px;
  }
}

.news_item_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3E3E3E;
  cursor: pointer;
  position: relative;
}

.news_item_link:after {
  position: absolute;
  content: "";
  background: url(../img/news-arrow.svg) no-repeat center right/contain;
  width: 11px;
  height: 21px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 16px;
}

@media screen and (max-width: 1199px) {
  .news_item_link {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .news_item_link {
    display: block;
    padding-left: 16px;
  }
}

.news_item {
  border-top: 1px solid #CECDCD;
  max-width: 1080px;
  cursor: pointer;
}

.news_item:hover {
  background: #4973FF1A;
}

.news_item:first-child {
  padding: 33px 0 41px 0;
}

@media screen and (max-width: 1199px) {
  .news_item:first-child {
    padding: 20px 0 40px 0;
  }
}

@media screen and (max-width: 767px) {
  .news_item:first-child {
    padding: 11px 0;
  }
}

.news_item:nth-child(2) {
  padding: 29px 0;
}

@media screen and (max-width: 767px) {
  .news_item:nth-child(2) {
    padding: 11px 0;
  }
}

.news_item:nth-child(3) {
  border-bottom: 1px solid #CECDCD;
  padding: 30px 0;
}

@media screen and (max-width: 767px) {
  .news_item:nth-child(3) {
    padding: 11px 0;
  }
}

@media screen and (max-width: 767px) {
  .news_item {
    padding: 16px 0;
  }
}

.news_item_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 291px;
}

.news_item_left_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 291px;
  padding-top: 9px;
}

@media screen and (max-width: 767px) {
  .news_item_left_first {
    padding-top: 0;
  }
}

.news_date {
  font-size: 18px;
  letter-spacing: 0.45px;
  font-family: "Montserrat", sans-serif;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .news_date {
    font-size: 14px;
    letter-spacing: 0.35px;
  }
}

.news_label {
  margin-left: 8px;
  font-size: 14px;
  letter-spacing: 0.35px;
  padding: 8px 30px;
  border: 2px solid #3B69FF;
  border-radius: 50px;
  margin: 8px 30px;
}

.news_label:first-child {
  padding-top: 2px;
}

@media screen and (max-width: 1199px) {
  .news_label {
    padding: 6px 25px;
    margin: 4px 14px;
  }
}

@media screen and (max-width: 767px) {
  .news_label {
    font-size: 12px;
    letter-spacing: 0.3px;
    padding: 2.5px 13px;
    margin: 4px 14px;
  }
}

.news_item_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news_text {
  max-width: 698px;
  margin-left: 8px;
  font-size: 18px;
  letter-spacing: 0.45px;
  line-height: 1.55556;
}

@media screen and (max-width: 1199px) {
  .news_text {
    margin: 5px 110px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .news_text {
    font-size: 14px;
    line-height: 1.42857;
    letter-spacing: 0;
    margin: 5px 55px 0 0;
  }
}

.news_btn {
  border: 1px solid #707070;
  width: 236px;
  height: 64px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}

.news_btn a {
  display: block;
  font-size: 20px;
  font-weight: 600;
  line-height: 64px;
  text-align: center;
  letter-spacing: 4px;
  color: #3E3E3E;
}

@media screen and (max-width: 767px) {
  .news_btn a {
    font-size: 18px;
    letter-spacing: 3.6px;
    line-height: 54px;
  }
}

.news_btn a:hover {
  background: #3E3E3E;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 767px) {
  .news_btn {
    width: 268px;
    height: 54px;
  }
}

/*=============================
service
=============================*/
.service {
  height: 400px;
  background: #3E3E3E;
  margin-top: 120px;
}

@media screen and (max-width: 767px) {
  .service {
    margin-top: 575px;
    height: 480px;
  }
}

.service_head {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  padding-top: 64px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1199px) {
  .service_head {
    font-size: 34px;
  }
}

@media screen and (max-width: 767px) {
  .service_head {
    font-size: 30px;
    padding-top: 45px;
  }
}

.service_items {
  max-width: 960px;
  -webkit-box-shadow: 0 5px 12px #3E3E3E33;
          box-shadow: 0 5px 12px #3E3E3E33;
  background: #FFFFFF;
  margin: 64px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .service_items {
    margin: 60px 40px 0;
  }
}

@media screen and (max-width: 767px) {
  .service_items {
    margin: 40px 15px 0;
    display: block;
  }
}

.service_item {
  padding: 60px 45px;
}

.service_item:first-child img {
  margin-top: 10px;
}

.service_item:first-child .service_title {
  margin-top: 15px;
  margin-left: 5px;
}

.service_item:first-child .service_text {
  margin-top: 13px;
  margin-left: -1.5px;
}

.service_item:nth-child(2n) img {
  margin-top: 15px;
}

.service_item:nth-child(2n) .service_title {
  margin-top: 22px;
  margin-left: 5px;
}

.service_item:nth-child(2n) .service_text {
  margin-top: 13px;
  margin-left: -1.5px;
}

.service_item:last-child img {
  margin-top: 15px;
}

.service_item:last-child .service_title {
  margin-top: 22px;
  margin-left: 5px;
}

.service_item:last-child .service_text {
  margin-top: 13px;
  margin-left: -1.5px;
}

@media screen and (max-width: 767px) {
  .service_item {
    padding: 40px 16px 0;
  }
  .service_item:nth-child(2) .service_title {
    margin-top: 23px;
    margin-left: 7px;
  }
  .service_item:last-child {
    padding-bottom: 35px;
  }
  .service_item:last-child .service_title {
    margin-top: 23px;
    margin-left: 7px;
  }
}

.service_img {
  width: 50px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .service_img {
    margin-top: 12px;
  }
}

.service_title {
  font-size: 20px;
  text-align: center;
  letter-spacing: 4px;
  line-height: 1.4;
  margin-top: 6px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .service_title {
    line-height: 1.2;
    margin-top: 17px;
  }
}

.service_text {
  font-size: 14px;
  line-height: 1.71429;
  margin-top: 15px;
}

/*=============================
results
=============================*/
.results {
  background: #3E3E3E;
  padding: 65px 0 60px 58px;
  margin-top: 215px;
}

@media screen and (min-width: 1200px) {
  .results {
    margin-left: calc((100% - 1200px) / 2);
  }
}

@media screen and (max-width: 767px) {
  .results {
    margin-top: 390px;
    padding: 45px 0 40px 16px;
  }
}

.results_head {
  font-size: 36px;
  font-weight: 600;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1199px) {
  .results_head {
    font-size: 34px;
  }
}

@media screen and (max-width: 767px) {
  .results_head {
    font-size: 30px;
    margin-left: 113px;
  }
}

.results_items {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .results_items {
    margin-top: 40px;
  }
}

.results_item:hover {
  opacity: 0.6;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.results_item_link {
  color: #3E3E3E;
}

.results_contents {
  width: 400px;
  background: #FFFFFF;
  padding: 14px 16px 20px 16px;
}

@media screen and (max-width: 1199px) {
  .results_contents {
    width: 275px;
    padding: 15px;
  }
}

@media screen and (max-width: 767px) {
  .results_contents {
    width: 275px;
    padding: 12px 18px 10px 10px;
  }
}

.results_title {
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .results_title {
    font-size: 14px;
  }
}

.results_text {
  line-height: 1.5;
  margin-top: 12px;
}

@media screen and (max-width: 767px) {
  .results_text {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.01pt;
    margin-top: 10px;
  }
}

.results_btn {
  width: 290px;
  height: 64px;
  border: 1px solid #FFFFFF;
  margin-top: 100px;
}

@media screen and (max-width: 767px) {
  .results_btn {
    width: 315px;
    height: 54px;
    margin: 100px 0 0 15px;
    margin-top: 70px;
  }
}

.results_btn a {
  display: block;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 4px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.results_btn a:hover {
  background: #ffffff;
  color: #3E3E3E;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 767px) {
  .results_btn a {
    font-size: 18px;
    letter-spacing: 3.6px;
    line-height: 54px;
  }
}

/*-----swiper-----*/
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  margin-top: 43px;
  margin-left: 6px;
}

@media screen and (max-width: 767px) {
  .swiper-pagination {
    margin: 29px 0 0 -15px;
    width: 100%;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #FFFFFF;
  opacity: 1;
  position: relative;
}

.swiper-pagination-bullet:not(:first-child) {
  margin-left: 20px;
}

.swiper-pagination-bullet-active {
  position: relative;
}

.swiper-pagination-bullet-active::after {
  position: absolute;
  content: "";
  border: 1px solid #FFFFFF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.swiper-slide img {
  width: 100%;
}

/*=============================
price
=============================*/
.price {
  margin-top: 124px;
}

@media screen and (max-width: 767px) {
  .price {
    margin-top: 45px;
  }
}

.price_head {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1199px) {
  .price_head {
    font-size: 34px;
  }
}

@media screen and (max-width: 767px) {
  .price_head {
    font-size: 30px;
  }
}

.price_table {
  margin: 62px auto 0;
  max-width: 960px;
  border-collapse: collapse;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.price_table::after {
  position: absolute;
  content: "※ 上記料金はサンプルです。";
  left: -2px;
  bottom: -22px;
  font-size: 12px;
  font-family: "游ゴシック体", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  .price_table::after {
    bottom: -20px;
    font-family: "游ゴシック体", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  }
}

@media screen and (max-width: 1199px) {
  .price_table {
    margin: 42px 40px 0 40px;
  }
}

@media screen and (max-width: 767px) {
  .price_table {
    margin: 42px 16px 0 16px;
  }
}

th {
  border: 1px solid #707070;
  background: #3E3E3E;
  color: #fff;
  font-size: 24px;
  width: 262px;
  padding: 18px 0;
}

@media screen and (max-width: 1199px) {
  th {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  th {
    width: 295px;
    font-size: 18px;
  }
}

td {
  border: 1px solid #707070;
  background: #fff;
  font-size: 24px;
  padding-left: 38px;
  width: 698px;
}

@media screen and (max-width: 1199px) {
  td {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  td {
    font-size: 18px;
    letter-spacing: 0.8px;
    padding-left: 22px;
  }
}

.table_text {
  font-size: 12px;
}

/*=============================
comments
=============================*/
.comments {
  position: relative;
}

.comments_inner {
  margin: 140px 40px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1199px) {
  .comments_inner {
    margin: 140px 0 0 0;
  }
}

@media screen and (max-width: 767px) {
  .comments_inner {
    display: block;
    margin: 80px 16px 0 16px;
  }
}

.comments_left {
  max-width: 670px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 10px #00000029;
          box-shadow: 0 0 10px #00000029;
  padding: 125px 60px 120px 60px;
}

@media screen and (max-width: 1199px) {
  .comments_left {
    padding: 125px 66px;
  }
}

@media screen and (max-width: 767px) {
  .comments_left {
    padding: 43px 19px 44px 20px;
    margin: 0 auto;
  }
}

.comments_head {
  font-size: 36px;
  font-weight: 600;
}

@media screen and (max-width: 1199px) {
  .comments_head {
    font-size: 34px;
  }
}

@media screen and (max-width: 767px) {
  .comments_head {
    font-size: 30px;
  }
}

.comments_intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .comments_intro {
    margin-top: 40px;
  }
}

.comments_intro_img {
  width: 100px;
  height: 100px;
  margin-top: 2.5px;
}

@media screen and (max-width: 767px) {
  .comments_intro_img {
    width: 60px;
    height: 60px;
  }
}

.comments_intro_text {
  line-height: 1.5;
  margin-left: 30px;
  font-size: 16px;
  font-family: "游ゴシック体", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

@media screen and (min-width: 1200px) {
  .comments_intro_text .sp {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .comments_intro_text .pc,
  .comments_intro_text .sp {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .comments_intro_text {
    font-size: 14px;
    line-height: 1.42857;
    margin-left: 20px;
  }
  .comments_intro_text .sp {
    display: block;
  }
}

.comments_img {
  max-width: 534px;
  height: 444px;
  margin-top: 80px;
}

@media screen and (max-width: 1199px) {
  .comments_img {
    width: calc(100% - 469px);
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .comments_img {
    display: none;
  }
}

.comments_background {
  height: 612px;
  background: #3E3E3E;
  position: absolute;
  top: 150px;
  z-index: -1;
}

@media screen and (min-width: 1200px) {
  .comments_background {
    width: 76.5625%;
  }
}

@media screen and (max-width: 1199px) {
  .comments_background {
    width: 76.5625%;
    top: 250px;
  }
}

@media screen and (max-width: 767px) {
  .comments_background {
    width: 100%;
    height: 425px;
    top: 60px;
  }
}

/*=============================
qa
=============================*/
.qa {
  background: url(../img/qa-bg.png) no-repeat center center/cover;
  background-attachment: fixed;
  min-height: 100%;
  margin-top: 120px;
  padding-bottom: 122px;
}

@media screen and (max-width: 767px) {
  .qa {
    margin-top: 60px;
    padding-bottom: 60px;
  }
}

.qa_head {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  padding-top: 63px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1199px) {
  .qa_head {
    font-size: 34px;
  }
}

@media screen and (max-width: 767px) {
  .qa_head {
    font-size: 30px;
    padding-top: 45px;
  }
}

.qa_items {
  margin-top: 65px;
}

@media screen and (max-width: 767px) {
  .qa_items {
    margin: 40px auto 0;
    padding: 0 16px;
  }
}

.qa_item {
  max-width: 612px;
  background: #fff;
  padding: 16px 16px 15px 15px;
  border-radius: 4px;
  margin-left: auto;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .qa_item:first-child .qa_q {
    margin-left: 5px;
  }
}

.qa_item:not(:first-child) {
  margin-top: 32px;
}

.qa_item:nth-child(2) {
  margin-top: 32px;
}

@media screen and (max-width: 767px) {
  .qa_item:nth-child(2) {
    margin-top: 23px;
  }
}

@media screen and (max-width: 767px) {
  .qa_item:nth-child(2) .qa_top {
    margin-top: -5px;
    margin-left: 5px;
  }
}

.qa_item:nth-child(n + 3) {
  margin-top: 32px;
  padding: 16px;
}

@media screen and (max-width: 767px) {
  .qa_item:nth-child(n + 3) {
    margin-top: 23px;
  }
}

@media screen and (max-width: 767px) {
  .qa_item:nth-child(n + 3) .qa_top {
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .qa_item {
    padding: 20px 16px 16px 10px;
  }
}

.qa_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.qa_q {
  color: #fff;
  width: 24px;
  height: 24px;
  background: #3B69FF;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.qa_title {
  font-weight: bold;
  margin-left: 17px;
  margin-right: auto;
  letter-spacing: 0.4px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .qa_title {
    margin-left: 16px;
  }
}

.qa_icon.is-open .qa_plus {
  display: none;
}

.qa_icon.is-open .qa_minus {
  display: block;
}

.qa_plus {
  width: 17px;
}

.qa_minus {
  width: 17px;
  display: none;
}

.qa_text {
  margin-top: 15px;
  background: #3B69FF33;
  border-radius: 4px;
  padding: 13px 16px 12px 17px;
  line-height: 1.5;
  display: none;
}

@media screen and (max-width: 767px) {
  .qa_text {
    font-size: 14px;
    line-height: 1.42857;
    padding: 10px 15px 10px 13px;
    margin-top: 15px;
    margin-left: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .qa_text_sp {
    display: none;
  }
}

/*=============================
access
=============================*/
.access {
  position: relative;
}

.access_background {
  position: absolute;
  top: 0;
  background: #3E3E3E;
  height: 504px;
  margin-right: 500px;
}

@media screen and (min-width: 1200px) {
  .access_background {
    width: 76.5625%;
  }
}

@media screen and (max-width: 1199px) {
  .access_background {
    width: 76.5625%;
  }
}

@media screen and (max-width: 767px) {
  .access_background {
    width: 100%;
    height: 576px;
  }
}

.access_inner {
  position: relative;
}

.access_left {
  color: #fff;
  padding: 125px 0 0 60px;
}

@media screen and (min-width: 1200px) {
  .access_left {
    width: calc(100% - 300px);
  }
}

@media screen and (max-width: 767px) {
  .access_left {
    height: 575px;
    padding: 40px 16px 60px 16px;
    font-size: 14px;
    line-height: 1.42857;
  }
}

.access_head {
  font-size: 36px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1199px) {
  .access_head {
    font-size: 34px;
  }
}

@media screen and (max-width: 767px) {
  .access_head {
    font-size: 30px;
  }
}

.access_address {
  margin-top: 60px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .access_address {
    margin-top: 35px;
    line-height: 1.42857;
  }
}

.access_btn {
  width: 314px;
  height: 64px;
  border: 1px solid #FFFFFF;
  margin-top: 27px;
}

@media screen and (max-width: 767px) {
  .access_btn {
    width: 100%;
    height: 55px;
    margin: 287px auto 0;
  }
}

.access_btn a {
  display: block;
  font-size: 20px;
  text-align: center;
  line-height: 64px;
  letter-spacing: 2px;
  color: #fff;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 767px) {
  .access_btn a {
    font-size: 18px;
    letter-spacing: 1.8px;
    line-height: 55px;
  }
}

.access_btn a:hover {
  background: #fff;
  color: #3E3E3E;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.access_right {
  position: absolute;
  top: 120px;
  right: 0;
}

@media screen and (max-width: 1199px) {
  .access_right {
    width: 100%;
    padding: 0 0 0 435px;
  }
}

@media screen and (max-width: 767px) {
  .access_right {
    width: 100%;
    top: 195px;
    text-align: center;
    padding: 0 16px;
  }
}

.access_right iframe {
  width: 100%;
  height: 520px;
}

@media screen and (min-width: 1200px) {
  .access_right iframe {
    width: 725px;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .access_right iframe {
    height: 241px;
  }
}

/*=============================
contact
=============================*/
.contact {
  margin-top: 375px;
  background: url(../img/contact-bg.png) no-repeat center center/cover;
  padding: 60px 0;
}

@media screen and (max-width: 1199px) {
  .contact {
    padding: 45px 40px;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    padding: 45px 16px;
    margin-top: 0;
  }
}

.contact_top {
  max-width: 960px;
  background: url(../img/contact1.png) no-repeat center center/cover;
  text-align: center;
  padding: 64px 240px;
  border-radius: 12px 12px 0 0;
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .contact_top {
    padding: 60px 16px;
  }
}

@media screen and (max-width: 767px) {
  .contact_top {
    padding: 40px 16px;
  }
}

.contact_head {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1199px) {
  .contact_head {
    font-size: 34px;
  }
}

@media screen and (max-width: 767px) {
  .contact_head {
    font-size: 30px;
  }
}

.contact_text {
  color: #fff;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .contact_text {
    font-size: 14px;
    line-height: 1.42857;
    margin-top: 12px;
    text-align: left;
    font-weight: normal;
  }
}

.contact_form {
  max-width: 960px;
  background: #fff;
  border-radius: 0 0 12px 12px;
  padding: 55px 120px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .contact_form {
    padding: 40px 12px;
  }
}

.contact-form_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form_row:not(:first-child) {
  margin-top: 32px;
}

@media screen and (max-width: 767px) {
  .contact-form_row {
    display: block;
  }
}

.contact-form_label {
  width: 188px;
}

.contact-form_label label {
  font-weight: bold;
}

.contact-form_label label.is-required {
  display: inline-block;
  position: relative;
}

.contact-form_label label.is-required::after {
  position: absolute;
  content: "必須";
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  background: #FF4646;
  border-radius: 2px;
  width: 40px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  top: 0;
  left: calc(100% + 12px);
}

@media screen and (max-width: 767px) {
  .contact-form_label label.is-required::after {
    margin-top: 2px;
    margin-left: 7px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-form_input {
    width: calc(100% - 188px);
  }
}

@media screen and (max-width: 1199px) {
  .contact-form_input {
    width: calc(100% - 188px);
  }
}

@media screen and (max-width: 767px) {
  .contact-form_input {
    width: 100%;
  }
}

.contact-form_input [type="text"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  border-bottom: 1px solid #3E3E3E;
  background: #fff;
  padding: 5px 0 0 12px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  width: 100%;
  outline: none;
  font-size: 16px;
}

.contact-form_input [type="text"]:hover, .contact-form_input [type="text"]:focus {
  border-bottom: 1px solid #4973FF;
}

@media screen and (max-width: 767px) {
  .contact-form_input [type="text"] {
    font-size: 14px;
    padding: 0 0 3px 0;
    margin-top: 10px;
  }
}

.contact-form_input [type="email"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  border-bottom: 1px solid #3E3E3E;
  background: #fff;
  padding: 5px 0 0 12px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  width: 100%;
  outline: none;
}

.contact-form_input [type="email"]:hover, .contact-form_input [type="email"]:focus {
  border-bottom: 1px solid #4973FF;
}

@media screen and (max-width: 767px) {
  .contact-form_input [type="email"] {
    font-size: 14px;
    padding: 0 0 3px 0;
    margin-top: 10px;
  }
}

.contact-form_input select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  padding: 8px;
  width: 178px;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  background: #fff url(../img/select-arrow.svg) no-repeat right 12px center/16px 16px;
}

@media screen and (min-width: 1281px) {
  .contact-form_input select {
    width: 260px;
  }
}

@media screen and (max-width: 1199px) {
  .contact-form_input select {
    width: 260px;
  }
}

@media screen and (max-width: 767px) {
  .contact-form_input select {
    margin-top: 13px;
    width: 100%;
    font-size: 14px;
  }
}

.contact-form_input select:hover {
  -webkit-filter: drop-shadow(0 0 5px #4973FF80);
          filter: drop-shadow(0 0 5px #4973FF80);
}

.contact-form_message {
  margin-top: 32px;
}

.contact-form_message textarea {
  margin-top: 8px;
  height: 200px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #3E3E3E;
  background: #fff;
  padding: 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  width: 100%;
  resize: none;
  outline: none;
}

.contact-form_message textarea:hover, .contact-form_message textarea:focus {
  border: 1px solid #4973FF;
  -webkit-filter: drop-shadow(0 0 8px #4973FF80);
          filter: drop-shadow(0 0 8px #4973FF80);
}

@media screen and (max-width: 767px) {
  .contact-form_message textarea {
    margin-top: 16px;
    height: 160px;
  }
}

.contact-form_radio [type="radio"] {
  display: none;
}

.contact-form_radio span {
  display: inline-block;
  padding-left: 20px;
  position: relative;
  margin-right: 40px;
}

@media screen and (max-width: 767px) {
  .contact-form_radio span {
    margin-top: 15px;
  }
}

.contact-form_radio span::before {
  position: absolute;
  content: "";
  border: 1px solid #707070;
  border-radius: 50%;
  width: 11px;
  height: 12px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fff;
}

.contact-form_radio span::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background: #3B69FF;
  left: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  display: none;
}

.contact-form_radio [type="radio"]:checked + span::after {
  display: block;
}

.contact-form_radio [type="radio"]:hover + span::before {
  border: 1px solid #3B69FF;
  -webkit-filter: drop-shadow(0 0 6px #4973FF33);
          filter: drop-shadow(0 0 6px #4973FF33);
}

.contact-form_radio [type="radio"]:active + span::before {
  border: 1px solid #3B69FF;
  background: #4973FF33;
}

.contact-form_check {
  margin-top: 40px;
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .contact-form_check {
    margin-top: 32px;
    font-size: 16px;
  }
}

.contact-form_check [type="checkbox"] {
  display: none;
}

.contact-form_check span {
  display: inline-block;
  padding-left: 40px;
  position: relative;
}

.contact-form_check span:hover {
  cursor: pointer;
}

.contact-form_check span::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 20px;
  background: #fff;
  border: 1px solid #707070;
  left: 0;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact-form_check span::before:hover::before {
  border: 1px solid #4973FF;
}

@media screen and (max-width: 767px) {
  .contact-form_check span::before {
    width: 18px;
    height: 18px;
  }
}

.contact-form_check span::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 0;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/checkbox.svg) no-repeat center center/contain;
  display: none;
}

@media screen and (max-width: 767px) {
  .contact-form_check span::after {
    width: 18px;
    height: 18px;
  }
}

.contact-form_check [type="checkbox"]:checked + span::after {
  display: block;
}

.contact-form_check [type="checkbox"]:hover + span::before {
  border: 1px solid #3B69FF;
  -webkit-filter: drop-shadow(0 0 6px #4973FF33);
          filter: drop-shadow(0 0 6px #4973FF33);
}

.contact-form_check [type="checkbox"]:active + span::before {
  border: 1px solid #3B69FF;
  background: #4973FF33;
}

.contact-form_btn {
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .contact-form_btn {
    margin-top: 32px;
    text-align: center;
  }
}

.contact-form_btn [type="submit"] {
  background: #FFAA3B;
  width: 173px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.45px;
  -webkit-filter: drop-shadow(0 3px 5px #00000033);
          filter: drop-shadow(0 3px 5px #00000033);
  padding: 12px 50px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.contact-form_btn [type="submit"]:hover {
  background: #F18900;
  -webkit-filter: drop-shadow(0 3px 5px #3E3E3E33);
          filter: drop-shadow(0 3px 5px #3E3E3E33);
}

.contact-form_btn [type="submit"]:disabled {
  background: #B2B2B2;
  -webkit-filter: drop-shadow(0 3px 5px #3E3E3E33);
          filter: drop-shadow(0 3px 5px #3E3E3E33);
}

@media screen and (max-width: 767px) {
  .contact-form_btn [type="submit"] {
    width: 165px;
    height: 48px;
    letter-spacing: 0.4pt;
  }
}

/*=============================
footer
=============================*/
.footer {
  background: #3E3E3E;
  color: #fff;
}

.footer_contents {
  width: 960px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .footer_contents {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 40px;
  }
}

@media screen and (max-width: 767px) {
  .footer_contents {
    padding: 0px 57px 57px 57px;
    display: block;
  }
}

.footer_left {
  padding: 50px 0 66px 0;
}

@media screen and (min-width: 1200px) {
  .footer_left {
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .footer_left {
    padding-bottom: 5px;
  }
}

.footer_sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer_sns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.fa-2x {
  font-size: 2.5em;
  margin-top: 2px;
}

.footer_twitter {
  opacity: 0.6;
}

.footer_facebook {
  opacity: 0.6;
  margin-left: 29px;
}

@media screen and (max-width: 767px) {
  .footer_facebook {
    margin-left: 50px;
  }
}

.footer_sitemap {
  margin-top: 41px;
  letter-spacing: 0.4px;
}

@media screen and (max-width: 767px) {
  .footer_sitemap {
    margin-top: 42px;
    letter-spacing: 0.35pt;
    text-align: center;
    font-size: 14px;
  }
}

.footer_information {
  margin-top: 24px;
  letter-spacing: 0.4px;
}

@media screen and (max-width: 767px) {
  .footer_information {
    margin-top: 26px;
    letter-spacing: 0.35pt;
    text-align: center;
    font-size: 14px;
  }
}

.footer_privacy {
  margin-top: 24px;
  letter-spacing: 0.4px;
}

@media screen and (max-width: 767px) {
  .footer_privacy {
    margin-top: 26px;
    letter-spacing: 0.35pt;
    text-align: center;
    font-size: 14px;
  }
}

.footer_right {
  padding: 66px 0;
}

@media screen and (max-width: 767px) {
  .footer_right {
    padding: 0;
  }
}

.footer_logo {
  font-size: 40px;
  font-weight: bold;
  color: #E3E3E3;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 767px) {
  .footer_logo {
    margin-top: 40px;
    font-size: 32px;
    text-align: center;
  }
}

.footer_copyright {
  font-size: 12px;
  text-align: right;
  letter-spacing: 0.3px;
  opacity: 0.6;
  margin-top: 16px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 767px) {
  .footer_copyright {
    margin-top: 16px;
    text-align: center;
  }
}

.to-top {
  display: none;
  width: 50px;
  position: fixed;
  bottom: 47px;
  right: 40px;
  z-index: 100;
}

.to-top:hover {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .to-top {
    right: 17px;
    bottom: 13px;
  }
}

.is-show {
  display: block;
}
