@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


$color-main: #3E3E3E;
$font-en: 'Montserrat', sans-serif;
$font-ja: "游ゴシック体", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;

$breakpoints: (
  'sp': 'screen and (max-width: 767px)', 
  'pc': 'screen and (min-width: 768px)'
) !default;

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

body {
  font-size: 16px;
  color: $color-main;
  background: #F3F3F3;
  font-family: "游ゴシック体", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

img {
  width: 100%;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

/*=============================
header
=============================*/

.header {
  height: 83px;
  background: #FFFFFF1A;
  line-height: 83px;
  position: fixed;
  width: 100%;
  z-index: 500;

  @include mq('sp') {
    height: 68px;
    line-height: 68px;
    background: #FFFFFF;
    display: flex;
  }
}

.header_title {

  @include mq('pc') {
    display: none;
  }

  @include mq('sp') {
    font-size: 23px;
    font-weight: bold;
    padding-left: 16px;
    margin-right: auto;
    font-family: $font-en;
    position: fixed;
  }
}

.header_nav {
  display: flex;
  justify-content: center;
  font-family: $font-en;
  letter-spacing: -0.2px;

  li {
    &:not(:first-child) {
    margin-left: 40px;
  }
  }

  a {
    color: $color-main;
    position:relative;
    text-decoration: none;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -8px;
      height: 1px;
      transition: all 0.3s ease 0s;
      background: $color-main;
    }

    &:hover,
    &.is-active {
      cursor: pointer;

      &::after {
        width: 100%;
      }
    }
  }

  @include mq('sp') {
    display: none;
  }
}

.header_menu {
  background: url(../img/hamburger.svg) no-repeat center center / cover;

  @include mq('pc') {
    display: none;
  }

  @include mq('sp') {
    width: 26px;
    height: 20px;
    position: absolute;
    top: 24px;
    right: 17px;
  }
}

.header_menu_close {
  background: url(../img/batsu.svg) no-repeat center center / cover;

  @include mq('pc') {
    display: none;
  }

  @include mq('sp') {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 24px;
    right: 57px;
  }
}

.drawer {

  @include mq('pc') {
    display: none;
  }

  @include mq('sp') {
    width: 21px;
  }
}

.drawer-menu {
  margin-top: 142px;

  li {
    padding-right: 0;
    padding-left: 0;
    line-height: 0;
    font-family: $font-en;
    font-weight: normal;
    color: $color-main;
    padding-top: 30px;

    &:nth-child(2) {
      padding-top: 42px;
    }
    
    a {
      font-weight: normal;
      color: $color-main;
      font-size: 18px;
    }
  }
}

.drawer-brand {
  padding-right: 0;
  padding-left: 0;
  line-height: 0;
  font-family: $font-en;
  }

.drawer--right,
.drawer-nav {
  width: 18.80rem;
  text-align: center;
}

.drawer--right .drawer-nav {
  right: -18.75rem;
}

/*=============================
top
=============================*/

.top {
  background: url(../img/mv.png) no-repeat 22.5% center / cover;
  width: 100%;
  height: 648px;

  @include mq('sp') {
    background: url(../img/mv@2x.png) no-repeat 22.5% center / cover;
    height: 667px;
  }
}

.top_inner {
  height: inherit;
  position: relative;
}

.top_contents {
  position: absolute;
  top: 56%;
  transform: translateY(-50%);
  right: 0;
  
  @include mq('sp') {
    padding: 0 16px;
    top: 49%;
  }
}

.top_title {
  font-size: 32px;
  font-weight: bold;
  line-height: (48 / 32);

  @include mq('sp') {
    font-size: 24px;
    line-height: (40 / 24);
  }
}

.top_text {
  max-width: 600px;
  font-size: 18px;
  line-height: (28 / 18);
  letter-spacing: 0.25px;
  margin-top: 25px;
  font-weight: bold;

  @include mq('sp') {
    font-size: 14px;
    line-height: (20 / 14);
    margin-top: 25px;
    letter-spacing: 0;
  }
}

.top_btn {
  width: 282px;
  height: 50px;
  background: #FFAA3B;
  border-radius: 10px;
  margin-top: 40px;
  box-shadow: 0 3px 5px #3E3E3E33;

  &:hover {
    background: #F18900;
    filter: drop-shadow(0 3px 5px #3E3E3E33);
    transition: all 0.2s ease 0s;
  }

  @include mq('sp') {
    width: 222px;
    height: 48px;
    margin: 25px auto 0;
  }

  a {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 50px;

    @include mq('sp') {
      font-size: 16px;
    }
  }
}

/*=============================
news
=============================*/

.news {
  margin: 120px auto 0;
  padding: 65px 60px 40px;
  max-width: 1200px;
  background: #fff;
  box-shadow: 0 5px 12px #3E3E3E33;

  @include mq('sp') {
    padding: 0;
    margin: 0 16px;
    position: absolute;
    top: 628px;
    padding-bottom: 40px;
  }
}

.news_head {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  font-family: $font-en;

  @include mq('sp') {
    margin-top: 45px;
    font-size: 30px;
  }
}

.news_items {
  margin-top: 60px;

  @include mq('sp') {
    margin-top: 40px;
  }
}

.news_item_link {
  display: flex;
  align-items: center;
  color: $color-main;
  cursor: pointer;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    background: url(../img/news-arrow.svg) no-repeat center right / contain;
    width: 11px;
    height: 21px;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
  }

  @include mq('sp') {
    display: block;
    padding-left: 16px;
  }
}

.news_item {
  border-top: 1px solid #CECDCD;
  max-width: 1080px;

  &:hover {
    background: #4973FF1A;
  }

  &:first-child {
    padding: 33px 0 41px 0;

    @include mq('sp') {
      padding: 11px 0;
    }
  }

  &:nth-child(2) {
    padding: 29px 0;

    @include mq('sp') {
      padding: 11px 0;
    }
  }

  &:nth-child(3) {
    border-bottom: 1px solid #CECDCD;
    padding: 30px 0;

    @include mq('sp') {
      padding: 11px 0;
    }
  }

  @include mq('sp') {
    padding: 16px 0;
  }
}

.news_item_left {
  display: flex;
  align-items: center;
  width: 291px;
}

.news_item_left_first {
  display: flex;
  align-items: center;
  width: 291px;
  padding-top: 9px;

  @include mq('sp') {
    padding-top: 0;
  }
}

.news_date {
  font-size: 18px;
  letter-spacing: 0.45px;
  font-family: $font-en;
  margin-right: 10px;

  @include mq('sp') {
    font-size: 14px;
    letter-spacing: 0.35px;
  }
}

.news_label {
  margin-left: 8px;
  font-size: 14px;
  letter-spacing: 0.35px;
  padding: 8px 30px;
  border: 2px solid #3B69FF;
  border-radius: 50px;
  margin: 8px 30px;

  &:first-child {
    padding-top: 2px;
  }

  @include mq('sp') {
    font-size: 12px;
    letter-spacing: 0.3px;
    padding: 2.5px 13px;
    margin: 4px 14px;
  }
}

.news_item_right {
  display: flex;
  align-items: center;
}

.news_text {
  max-width: 698px;
  margin-left: 8px;
  font-size: 18px;
  letter-spacing: 0.45px;
  line-height: (28 / 18);

  @include mq('sp') {
    font-size: 14px;
    line-height: (20 / 14);
    letter-spacing: 0;
    margin: 5px 55px 0 0;
  }
}

.news_btn {
  border: 1px solid #707070;
  width: 236px;
  height: 64px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;

  a {
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 64px;
    text-align: center;
    letter-spacing: 4px;
    color: $color-main;

    @include mq('sp') {
      font-size: 18px;
      letter-spacing: 3.6px;
      line-height: 54px;
    }

    &:hover {
      background: $color-main;
      color: #fff;
      transition: all 0.3s ease 0s;
    }
  }

  @include mq('sp') {
    width: 268px;
    height: 54px;
  }
}

/*=============================
service
=============================*/

.service {
  height: 400px;
  background: #3E3E3E;
  margin-top: 120px;

  @include mq('sp') {
    margin-top: 575px;
    height: 480px;
  }
}

.service_head {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  padding-top: 64px;
  text-align: center;
  font-family: $font-en;

  @include mq('sp') {
    font-size: 30px;
    padding-top: 45px;
  }
}

.service_items {
  max-width: 960px;
  box-shadow: 0 5px 12px #3E3E3E33;
  background: #FFFFFF;
  margin: 64px auto 0;
  display: flex;

  @include mq('sp') {
    margin: 40px 15px 0;
    display: block;
  }
}

.service_item {
  padding: 60px 45px;

  &:first-child {
    
    img {
      margin-top: 10px;
    }

    .service_title {
      margin-top: 15px;
      margin-left: 5px;
    }

    .service_text {
      margin-top: 13px;
      margin-left: -1.5px;
    }
  }

  &:nth-child(2n) {

    img {
      margin-top: 15px;
    }

    .service_title {
      margin-top: 22px;
      margin-left: 5px;
    }

    .service_text {
      margin-top: 13px;
      margin-left: -1.5px;
    }
  }

  &:last-child {

    img {
      margin-top: 15px;
    }

    .service_title {
    margin-top: 22px;
    margin-left: 5px;
    }

    .service_text {
      margin-top: 13px;
      margin-left: -1.5px;
    }
  }

  @include mq('sp') {
    padding: 40px 16px 0;

    &:nth-child(2) {
      .service_title {
        margin-top: 23px;
        margin-left: 7px;
      }
    }

    &:last-child {
      padding-bottom: 35px;

      .service_title {
        margin-top: 23px;
        margin-left: 7px;
      }
    }
  }
}

.service_img {
  width: 50px;
  display: block;
  margin: 0 auto;

  @include mq('sp') {
    margin-top: 12px;
  }
}

.service_title {
  font-size: 20px;
  text-align: center;
  letter-spacing: 4px;
  line-height: (28 / 20);
  margin-top: 6px;
  font-family: $font-en;
  font-weight: 600;

  @include mq('sp') {
    line-height: (24 / 20);
    margin-top: 17px;
  }
}

.service_text {
  font-size: 14px;
  line-height: (24 / 14);
  margin-top: 15px;
}

/*=============================
results
=============================*/

.results {
  background: $color-main;
  padding: 65px 0 60px 58px;
  margin-top: 215px;

  @include mq('pc') {
    margin-left: calc((100% - 1200px) / 2);
  }

  @include mq('sp') {
    margin-top: 390px;
    padding: 45px 0 40px 16px;
  }
}

.results_head {
  font-size: 36px;
  font-weight: 600;
  color: #FFFFFF;
  font-family: $font-en;

  @include mq('sp') {
    font-size: 30px;
    margin-left: 113px;
  }
}

.results_items {
  margin-top: 64px;
  display: flex;

  @include mq('sp') {
    margin-top: 40px;
  }
}

.results_item_link {
  color: $color-main;
}

.results_contents {
  width: 400px;
  background: #FFFFFF;
  padding: 14px 16px 20px 16px;

  @include mq('sp') {
    width: 275px;
    padding: 12px 18px 10px 10px;
  }
}

.results_title {
  font-size: 20px;
  font-weight: bold;

  @include mq('sp') {
    font-size: 14px;
  }
}

.results_text {
  line-height: (24 / 16);
  margin-top: 12px;

  @include mq('sp') {
    font-size: 12px;
    line-height: (18 / 12);
    letter-spacing: 0.01pt;
    margin-top: 10px;
  }
}

.results_btn {
  width: 290px;
  height: 64px;
  border: 1px solid #FFFFFF;
  margin-top: 100px;

  @include mq('sp') {
    width: 315px;
    height: 54px;
    margin: 100px 0 0 15px;
    margin-top: 70px;
  }

  a {
    display: block;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 4px;
    line-height: 64px;
    text-align: center;
    color: #ffffff;
    font-family: $font-en;

    &:hover {
      background: #ffffff;
      color: $color-main;
      transition: all 0.3s ease 0s;
    }

    @include mq('sp') {
      font-size: 18px;
      letter-spacing: 3.6px;
      line-height: 54px;
    }
  }
}

/*-----swiper-----*/

.swiper-pagination {
  position: absolute;
  text-align: center;
  transform: translate3d(0px, 0px, 0px);
  transition: opacity 0.3s ease 0s;
  margin-top: 43px;
  margin-left: 6px;

  @include mq('sp') {
    margin: 29px 0 0 -15px;
    width: 100%;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #FFFFFF;
  opacity: 1;
  position: relative;
  
  &:not(:first-child) {
    margin-left: 20px;
  }
}

.swiper-pagination-bullet-active {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    border: 1px solid #FFFFFF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

.swiper-slide {

  img {
    width: 100%;
  }
}

/*=============================
price
=============================*/

.price {
  margin-top: 124px;

  @include mq('sp') {
    margin-top: 45px;
  }
}

.price_head {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  font-family: $font-en;

  @include mq('sp') {
    font-size: 30px;
  }
}

.price_table {
  margin: 62px auto 0;
  max-width: 960px;
  border-collapse: collapse;
  position: relative;
  font-family: $font-en;
  font-weight: 600;

  &::after {
    position: absolute;
    content: "※ 上記料金はサンプルです。";
    left: -2px;
    bottom: -22px;
    font-size: 12px;
    font-family: $font-ja;
    font-weight: normal;

    @include mq('sp') {
      bottom: -20px;
      font-family: $font-ja;
    }
  }

  @include mq('sp') {
    margin: 42px 16px 0 16px;
  }
}

th {
  border: 1px solid #707070;
  background: #3E3E3E;
  color: #fff;
  font-size: 24px;
  width: 262px;
  padding: 18px 0;

  @include mq('sp') {
    width: 295px;
    font-size: 18px;
  }
}

td {
  border: 1px solid #707070;
  background: #fff;
  font-size: 24px;
  padding-left: 38px;
  width: 698px;

  @include mq('sp') {
    font-size: 18px;
    letter-spacing: 0.8px;
    padding-left: 22px;
  }
}

.table_text {
  font-size: 12px;
}

/*=============================
comments
=============================*/

.comments {
  position: relative;
}

.comments_inner {
  margin: 140px 40px 0 40px;
  display: flex;
  justify-content: center;
  font-family: $font-en;

  @include mq('sp') {
    display: block;
    margin: 80px 16px 0 16px;
  }
}

.comments_left {
  max-width: 670px;
  background: #FFFFFF;
  box-shadow: 0 0 10px #00000029;
  padding: 125px 60px 120px 60px;

  @include mq('sp') {
    padding: 43px 19px 44px 20px;
  }
}

.comments_head {
  font-size: 36px;
  font-weight: 600;

  @include mq('sp') {
    font-size: 30px;
  }
}

.comments_intro {
  display: flex;
  margin-top: 60px;

  @include mq('sp') {
    margin-top: 40px;
  }
}

.comments_intro_img {
  width: 100px;
  margin-top: 2.5px;

  @include mq('sp') {
    width: 60px;
    height: 60px;
  }
}

.comments_intro_text {
  line-height: (24 / 16);
  margin-left: 30px;
  font-size: 16px;
  font-family: $font-ja;

  @include mq('pc') {
  .sp {
    display: none;
  }
}

  @include mq('sp') {
    font-size: 14px;
    line-height: (20 / 14);
    margin-left: 20px;

    .pc {
      display: none;
    }
  }
}

.comments_img {
  max-width: 534px;
  height: 444px;
  margin-top: 80px;

  @include mq('sp') {
    display: none;
  }
}

.comments_background {
  height: 576px;
  background: #3E3E3E;
  position: absolute;
  top: 150px; 
  z-index: -1;

  @include mq('pc') {
    width: 980px / 1280px * 100%;
  }

  @include mq('sp') {
    width: 100%;
    height: 425px;
    top: 60px;
  }
}

/*=============================
qa
=============================*/

.qa {
  background: url(../img/qa-bg.png) no-repeat center center / cover;
  background-attachment: fixed;
  min-height: 100%;
  margin-top: 120px;
  padding-bottom: 122px;

  @include mq('sp') {
    margin-top: 60px;
    padding-bottom: 60px;
  }
}

.qa_head {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  padding-top: 63px;
  font-family: $font-en;

  @include mq('sp') {
    font-size: 30px;
    padding-top: 45px;
  }
}

.qa_items {
  margin-top: 65px;

  @include mq('sp') {
    margin: 40px auto 0;
    padding: 0 16px;
  }
}

.qa_item {
  max-width: 612px;
  background: #fff;
  padding: 16px 16px 15px 15px;
  border-radius: 4px;
  margin-left: auto;

  &:first-child {
    @include mq('sp') {
      .qa_q {
        margin-left: 5px;
      }

      .qa_minus {
        margin-top: -6px;
      }
    }
  }
  
  &:not(:first-child) {
    margin-top: 32px;
  }

  &:nth-child(2) {
    margin-top: 32px;

    @include mq('sp') {
      margin-top: 23px;
    }

    .qa_top {
      @include mq('sp') {
        margin-top: -5px;
        margin-left: 5px;
      }
    }
  }

  &:nth-child(n + 3) {
    margin-top: 32px;
    padding: 16px;

    @include mq('sp') {
      margin-top: 23px;
    }

    .qa_top {
      @include mq('sp') {
        margin-left: 0;
      }
    }
  }

  @include mq('sp') {
    padding: 20px 16px 16px 10px;
  }
}

.qa_top {
  display: flex;
  align-items: center;
}

.qa_q {
 color: #fff;
 width: 24px;
 height: 24px;
 background: #3B69FF;
 border-radius: 50%;
 text-align: center;
 line-height: 24px;
 font-weight: 600;
 font-family: $font-en;
}

.qa_title {
  font-weight: bold;
  margin-left: 17px;
  margin-right: auto;
  letter-spacing: 0.4px;
  line-height: (24 / 16);

  @include mq('sp') {
    margin-left: 16px;
  }
}

.qa_icon {
  
  &.is-open {
    .qa_plus {
      display: none;
    }

    .qa_minus {
      display: block;
    }
  }
}

.qa_plus {
  width: 17px;
}

.qa_minus {
  width: 17px;
  display: none;
}

.qa_text {
  margin-top: 15px;
  background: #3B69FF33;
  border-radius: 4px;
  padding: 13px 16px 12px 17px;
  line-height: (24 / 16);
  display: none;

  @include mq('sp') {
    font-size: 14px;
    line-height: (20 / 14);
    padding: 10px 15px 10px 13px;
    margin-top: 15px;
    margin-left: 5px;
  }
}

.qa_text_sp {

  @include mq('pc') {
    display: none;
  }
}
/*=============================
access
=============================*/

.access {
  position: relative;
}

.access_background {
  position: absolute;
  top: 0;
  background: #3E3E3E;
  height: 504px;
  margin-right: 500px;

  @include mq('pc') {
    width: 980px / 1280px * 100%;
  }

  @include mq('sp') {
    width: 100%;
    height: 576px;
  }
}

.access_inner {
  position: relative;
}

.access_left {
  color: #fff;
  padding: 125px 0 0 60px;

  @include mq('pc') {
    width: calc(100% - 300px);
  }

  @include mq('sp') {
    height: 575px;
    padding: 40px 16px 60px 16px;
    font-size: 14px;
    line-height: (20 / 14);
  }
}

.access_head {
  font-size: 36px;
  font-weight: 600;
  font-family: $font-en;

  @include mq('sp') {
    font-size: 30px;
  }
}

.access_address {
  margin-top: 60px;
  line-height: (24 / 16);

  @include mq('sp') {
    margin-top: 35px;
    line-height: (20 / 14);
  }
}

.access_btn {
  width: 314px;
  height: 64px;
  border: 1px solid #FFFFFF;
  margin-top: 27px;

  @include mq('sp') {
    width: 340px;
    height: 55px;
    margin: 287px auto 0;
  }

  a {
    display: block;
    font-size: 20px;
    text-align: center;
    line-height: 64px;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 600;
    font-family: $font-en;

    @include mq('sp') {
      font-size: 18px;
      letter-spacing: 1.8px;
      line-height: 55px;
    }

    &:hover {
      background: #fff;
      color: #3E3E3E;
      transition: all 0.3s ease 0s;
    }
  }
}

.access_right {
  position: absolute;
  top: 120px;
  right: 0;

  @include mq('sp') {
    top: 195px;
    left: 16px;
  }
  
  iframe {
    width: 725px;
    height: 520px;

    @include mq('sp') {
      width: 343px;
      height: 241px;
    }
  }
}

/*=============================
contact
=============================*/

.contact {
  margin-top: 375px;
  background: url(../img/contact-bg.png) no-repeat center center / cover;
  padding: 60px 0;

  @include mq('sp') {
    padding: 45px 16px;
    margin-top: 0;
  }
}

.contact_top {
  max-width: 960px;
  background: url(../img/contact1.png) no-repeat center center / cover;
  text-align: center;
  padding: 64px 240px;
  border-radius: 12px 12px 0 0;
  margin: 0 auto;

  @include mq('sp') {
    padding: 40px 16px;
  }
}

.contact_head {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  font-family: $font-en;

  @include mq('sp') {
    font-size: 30px;
  }
}

.contact_text {
  color: #fff;
  margin-top: 20px;

  @include mq('sp') {
    font-size: 14px;
    line-height: (20 / 14);
    margin-top: 12px;
    text-align: left;
    font-weight: normal;
  }
}

.contact_form {
  max-width: 960px;
  background: #fff;
  border-radius: 0 0 12px 12px;
  padding: 55px 120px;
  margin: 0 auto;

  @include mq('sp') {
    padding: 40px 12px;
  }
}

.contact-form_row {
  display: flex;
  align-items: center;

  &:not(:first-child) {
    margin-top: 32px;
  }

  @include mq('sp') {
    display: block;
  }
}

.contact-form_label {
  width: 188px;

  label {
    font-weight: bold;

    &.is-required {
      display: inline-block;
      position: relative;

      &::after {
        position: absolute;
        content: "必須";
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        background: #FF4646;
        border-radius: 2px;
        width: 40px;
        height: 16px;
        text-align: center;
        line-height: 16px;
        top: 0;
        left: calc(100% + 12px);

        @include mq('sp') {
          margin-top: 2px;
          margin-left: 7px;
        }
      }
    }
  }
}

.contact-form_input {

  @include mq('pc') {
    width: calc(100% - 188px);
  }

  [type="text"] {
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #3E3E3E;
    background: #fff;
    padding: 5px 0 0 12px;
    appearance: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    width: 100%;
    outline: none;
    font-size: 16px;

    &:hover,
    &:focus {
      border-bottom: 1px solid #4973FF;
    }

    @include mq('sp') {
      font-size: 14px;
      padding: 0 0 3px 0;
      margin-top: 10px;
    }
  }

  [type="email"] {
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #3E3E3E;
    background: #fff;
    padding: 5px 0 0 12px;
    appearance: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 16px;
    width: 100%;
    outline: none;

    &:hover,
    &:focus {
      border-bottom: 1px solid #4973FF;
    }

    @include mq('sp') {
      font-size: 14px;
      padding: 0 0 3px 0;
      margin-top: 10px;
    }
  }

  select {
    appearance: none;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #707070;
    padding: 9px;
    width: 178px;
    color: inherit;
    font-family: inherit;
    font-size: 16px;
    background: #fff url(../img/select-arrow.svg) no-repeat right 12px center / 16px 16px;

    @include mq('sp') {
      margin-top: 13px;
      width: 100%;
      font-size: 14px;
    }

    &:hover {
      filter:drop-shadow(0 0 5px #4973FF80);
      cursor: pointer;
    }
  }
}

.contact-form_message {
  margin-top: 32px;

  textarea {
    margin-top: 8px;
    height: 200px;
    box-shadow: none;
    border: 1px solid #3E3E3E;
    background: #fff;
    padding: 8px;
    appearance: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    width: 100%;
    resize: none;
    outline: none;

    &:hover,
    &:focus {
      border: 1px solid #4973FF;
      filter: drop-shadow(0 0 8px #4973FF80);
    }

    @include mq('sp') {
      margin-top: 16px;
      height: 160px;
    }
  }
}

.contact-form_radio {
  [type="radio"] {
    display: none;
  }

  span {
    display: inline-block;
    padding-left: 20px;
    position: relative;
    margin-right: 40px;

    &:hover {
      cursor: pointer;
    }

    @include mq('sp') {
      margin-top: 15px;
    }

    &::before {
      position: absolute;
      content:"";
      border: 1px solid #707070;
      border-radius: 50%;
      width: 11px;
      height: 12px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: #fff;
    }

    &::after {
      position: absolute;
      content:"";
      width: 6px;
      height: 6px;
      background: #3B69FF;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      display: none;
    }
  }

[type="radio"]:checked + span {
    &::after {
      display: block;
    }
  }

  [type="radio"]:hover + span {
    &::before {
      border: 1px solid #3B69FF;
      filter: drop-shadow(0 0 6px #4973FF33);
    }
  }

  [type="radio"]:active + span {
    &::before {
      border: 1px solid #3B69FF;
      background: #4973FF33;
    }
  }
}

.contact-form_check {
  margin-top: 40px;
  font-weight: bold;
  font-size: 18px;

  @include mq('sp') {
    margin-top: 32px;
    font-size: 16px;
  }

  [type="checkbox"] {
    display: none;
  }

  span {
    display: inline-block;
    padding-left: 40px;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &::before {
      position: absolute;
      content: "";
      width: 18px;
      height: 20px;
      background: #fff;
      border: 1px solid #707070;
      left: 0;
      top: 40%;
      transform: translateY(-50%);

      &:hover::before {
        border: 1px solid #4973FF;
      }

      @include mq('sp') {
        width: 18px;
        height: 18px;

      }
    }

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      left: 0;
      top: 40%;
      transform: translateY(-50%);
      background: url(../img/checkbox.svg) no-repeat center center / contain;
      display: none;

      @include mq('sp') {
        width: 18px;
        height: 18px;
      }
    }
  }

  [type="checkbox"]:checked + span {
    &::after {
      display: block;
    }
  }

  [type="checkbox"]:hover + span {
    &::before {
      border: 1px solid #3B69FF;
      filter: drop-shadow(0 0 6px #4973FF33);
    }
  }

  [type="checkbox"]:active + span {
    &::before {
      border: 1px solid #3B69FF;
      background: #4973FF33;
    }
  }
}

.contact-form_btn {
  margin-top: 40px;

  @include mq('sp') {
    margin-top: 32px;
    text-align: center;
  }

  [type="submit"] {
   background: #FFAA3B;
   width: 173px;
   border-radius: 10px;
   color: #fff;
   font-weight: bold;
   font-size: 18px;
   letter-spacing: 0.45px;
   filter: drop-shadow(0 3px 5px #00000033);
   padding: 12px 50px;
   appearance: none;
   font-family: inherit;
   border: none;
   cursor: pointer;

   &:hover {
     background: #F18900;
     filter: drop-shadow(0 3px 5px #3E3E3E33);
   }

   &:disabled {
     background: #B2B2B2;
     filter: drop-shadow(0 3px 5px #3E3E3E33);
   }

   @include mq('sp') {
     width: 165px;
     height: 48px;
     letter-spacing: 0.4pt;
   }
  }
}

/*=============================
footer
=============================*/

.footer {
  background: #3E3E3E;
  color: #fff;
}

.footer_contents {
  width: 960px;
  max-width: 100%;
  display: flex;
  margin: 0 auto;

  @include mq('sp') {
    padding: 0px 57px 57px 57px;
    display: block;
  }
}

.footer_left {
  padding: 50px 0 66px 0;

  @include mq('pc') {
    margin-right: auto;
  }

  @include mq('sp') {
    padding-bottom: 5px;
  }
}

.footer_sns {
  display: flex;

  @include mq('sp') {
    justify-content: center;
  }
}

.fa-2x {
  font-size: 2.5em;
  margin-top: 2px;
}

.footer_twitter {
  opacity: 0.6;
}

.footer_facebook {
  opacity: 0.6;
  margin-left: 29px;

  @include mq('sp') {
    margin-left: 50px;
  }
}

.footer_sitemap {
  margin-top: 41px;
  letter-spacing: 0.4px;

  @include mq('sp') {
    margin-top: 42px;
    letter-spacing: 0.35pt;
    text-align: center;
    font-size: 14px;
  }
}

.footer_information {
  margin-top: 24px;
  letter-spacing: 0.4px;

  @include mq('sp') {
    margin-top: 26px;
    letter-spacing: 0.35pt;
    text-align: center;
    font-size: 14px;
  }
}

.footer_privacy {
  margin-top: 24px;
  letter-spacing: 0.4px;

  @include mq('sp') {
    margin-top: 26px;
    letter-spacing: 0.35pt;
    text-align: center;
    font-size: 14px;
  }
}

.footer_right {
  padding: 66px 0;

  @include mq('sp') {
    padding: 0;
  }
}

.footer_logo {
  font-size: 40px;
  font-weight: bold;
  color: #E3E3E3;
  font-family: $font-en;

  @include mq('sp') {
    margin-top: 40px;
    font-size: 32px;
    text-align: center;
  }
}

.footer_copyright {
  font-size: 12px;
  text-align: right;
  letter-spacing: 0.3px;
  opacity: 0.6;
  margin-top: 16px;
  font-family: $font-en;

  @include mq('sp') {
    margin-top: 16px;
    text-align: center;
  }
}

.to-top {
  display: none;
  width: 50px;
  position: fixed;
  bottom: 47px;
  right: 40px;
  z-index: 100;

  &:hover {
    cursor: pointer;
  }

  @include mq('sp') {
    right: 17px;
    bottom: 13px;
  }
}

.is-show {
  display: block;
}